<div class ="content">
  <div class="row">
    <div class="col-6">
      <div class="cards">
        <% @pets.each do |pet| %>
          <%= link_to pet_path(pet) do %>
           <%= render partial: "shared/card", locals:{pet: pet} %>
          <% end %>
        <%end %>
      </div>
    </div>
    <div class="col-6">
      <div
        id="map"
        style="width: 100%;
        height: 100vh;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
</div>

