<div class= "image_add_a_pet">
  <%= render 'shared/navbar' %>
  <div class="container_add_pet">
    <div class="card m-3 p-2">
      <h1 class="text-center"> Let's add a pet ! </h1>
      <%= render 'form', pet: @pet %>
    </div>
  </div>
</div>
