<div class="bg-img-home">
  <%= render 'shared/navbar' %>
  <div class="search-engine">
    <h2>Book a pet for a day or more</h2>
    <h6>Where?</h6>
    <h6>From</h6>
    <h6>To</h6>
    <%= link_to "Search a pet !", pets_path,class:"btn btn-dark" %>
  </div>
</div>
