
.bg-img-home {
  background-size: cover;
  background-position: 0% 29% ;
  position:relative;
  height:750px;
  width:100%;
  margin:0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/ambroise/image/upload/v1582037765/xyydcpucblhzoyvxrfpl.jpg)
}

.search-engine{
  padding:20px;
  position:absolute;
  left:160px;
  width: 508px;
  border-radius: 5px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.search-engine h2 {
  font-weight: bold;
  font-size:26px;
}
.search-engine .btn {
  width:100%;
}


.bg-img-new {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/ambroise/image/upload/v1582044384/og-lead-image-yongqing-bao---wildlife-photographer-of-the-year_rkosqd.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
}
