.bg-img-home {
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/ambroise/image/upload/v1582191823/aagwg7hopvtgs7ivwovc.jpg)
}

.search-engine{
  padding:20px;
  position:absolute;
  left:160px;
  border-radius: 5px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: 0.7;
  border: 1px solid grey;
}

.search-engine h2 {
  font-weight: bold;
  font-size:26px;
}
.search-engine .btn {
  width:80px;
}


.bg-img-new {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/ambroise/image/upload/v1582044384/og-lead-image-yongqing-bao---wildlife-photographer-of-the-year_rkosqd.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
}

.carousel {
  width: 100vh;
  border-radius: 25px;


  .img{
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}

.horizontal{
  display:flex;
  width:1000px;
  align-items:center;
  position:relative
}

.adjectives{
  width: 40%;
  border-radius:7px;
}

.address{
  width:25%;
  margin-left:12px;
  border-radius:7px;
}

.btn-dark{
  position:absolute;
  right:0px;
}
