.simple_form label {
  margin-bottom: 0.5rem;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-weight: 500;
  line-height: 1.2;
  font-size: 18px;
}

.simple_form h3 {
  font-size: 18px;
}
