.icon-cat-home {
  color:     white;
  font-size: 50px;
  position:  absolute;
  left:      200px;
  bottom:    10px;
}

.icon-dog-home {
  color:     white;
  font-size: 50px;
  position:  absolute;
  left:      130px;
  bottom:    10px;
}
