.icon-cat-home {
  color:     white;
  font-size: 50px;
  position: absolute;
  left:29%;
  bottom: 10px;
}

.icon-dog-home {
  color:     white;
  font-size: 50px;
  position: absolute;
  left:20%;
  bottom: 10px;
}
