.see-review a {
  text-decoration: none;
  color: #5A6268;

  &:hover {
    color: white;
  }
}

.see-review {
  text-decoration: none;
  color: white;
}

.see-review:hover a {
  color:white;
}


.fa-star {
  color:  #E8C848;
  cursor: pointer;
}
.review i {
  font-size: 32px;
}
