.card-pet {
  margin-left : 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  height: 250px;
  background: #F4F4F4;
  display: flex;
  border-top: 1px solid rgb(200,200,200);
}

.center-cards{
  display: grid;
  grid-template-columns:1fr 1fr;
}

.card-pet img {
  height: 100%;
  width: 300px;
  object-fit: cover;
  border-radius:5px;
}

.tags .bookable {
  background-color: green;
  opacity: 0.8;
  color:white;
}

.tags .not_bookable {
  background-color: red;
  opacity: 0.6;
  color:white;
}

.bookings-grid img{
  object-fit: cover;
  border-radius:5px;
}

.card-pet-info{
  width:100%;
  padding-left:10px;
  color:black;
  position:relative;
}

a {
  &:hover { text-decoration: none; }
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 14px;
}

.card-photos img{
  height:50px;
  width:50px;
}

.card-photos{
  position:absolute;
  bottom:0px;
}

.card-price{
  position:absolute;
  bottom:0px;
  right:0px;
}

.tags{
  display: flex;
  justify-content:flex-start;
}

.tag {
  border: 1px solid rgb(200,200,200);
  border-radius:3px;
  padding:3px;
  margin-right:10px;
}

.card-pet-description {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  border-radius:5px;
  box-shadow:  0 0 15px rgba(0,0,0,0.2);
  opacity: 0.9;

  i {
    font-size: 50px;
    opacity: 0.5;
  }

}

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
 }

 .cards-descriptions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
 }

 .stars-display {
  border: solid 1px #f4f4f4;
  border-radius: 3px
 }

.fa-star {
    font-size: 30px;
    color: #f9c232;
}

.card-review-description {
  border-radius:5px;
  box-shadow:  0 0 15px rgba(0,0,0,0.2);
  opacity: 0.9;
  margin: 17%

}
