.card-pet {
  margin-left : 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  height: 250px;
  background: #F4F4F4;
  display: flex;
  border-top: 1px solid rgb(200,200,200);
}

.card-pet img {
  height: 100%;
  width: 300px;
  object-fit: cover;
  border-radius:5px;
}

.card-pet-info{
  width:100%;
  padding-left:10px;
  color:black;
  position:relative;
}

a {
  &:hover { text-decoration: none; }
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 14px;
}

.card-photos img{
  height:50px;
  width:50px;
}

.card-photos{
  position:absolute;
  bottom:0px;
}

.card-price{
  position:absolute;
  bottom:0px;
  right:0px;
}

.tags{
  display: flex;
  justify-content:flex-start;
}

.tag {
  border: 1px solid rgb(200,200,200);
  border-radius:3px;
  padding:3px;
  margin-right:10px;
}
